.viewport {
  position: fixed;
  top: 50%;
  left: 50%;
  width: 2560px;
  height: 1440px;

  transform: scale(var(--scale)) translate(-50%, -50%);
  transform-origin: top left;

  overflow: hidden;
}

.background {
  user-select: none;
  pointer-events: none;
  z-index: 0;
}

.character {
  position: absolute;
  width: 400px;
  height: 400px;
  user-select: none;
  z-index: 3;
  pointer-events: none;
}

.textboxWrap {
  position: absolute;
  top: 28%;
  left: 50%;
  transform: translate(-50%, -50%);
  user-select: none;
  z-index: 5;
}

.textboxImage {
  display: block;
  width: 1440px;
  height: 1440px;
  pointer-events: none;
}

.textboxContent {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  width: 1150px;
}

.centerText {
  text-align: center;
}

.noLineBreak {
  top: 46%;
}

.yesLineBreak {
  top: 49%;
}

.speaker {
  font-family: 'RoundedFixedsys';
  color: black;
  white-space: pre-wrap;
  word-break: keep-all;
  font-weight: 400;
  font-size: 50px;
  line-height: 140%;
  letter-spacing: 2%;
  margin-bottom: 10px;
}

.content {
  font-family: 'RoundedFixedsys';
  color: black;
  white-space: pre-wrap;
  word-break: keep-all;
  font-weight: 400;
  font-size: 60px;
  line-height: 140%;
  letter-spacing: 2%;
}

.choiceWrapSingle {
  position: absolute;
  top: 53%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 5;
}

.choiceWrapDouble {
  position: absolute;
  top: 62%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.choiceWrapTriple {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3;
  text-align: center;
}

.choiceImage {
  display: block;
  height: auto;
  cursor: pointer;
}

.choiceText {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  pointer-events: none;
  font-family: 'RoundedFixedsys';
  font-weight: 400;
  font-size: 48px;
  line-height: 140%;
  letter-spacing: 2%;
  text-align: center;
  color: white;
  width: 1225px;
}

.choiceList {
  display: flex;
  flex-direction: column;
  gap: 26px;
  align-items: center;
}

.choiceItem {
  position: relative;
  pointer-events: auto;
  cursor: pointer;
}

.popupWrap {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 4;
  text-align: center;
  width: 1440px;
  height: 1440px;
}

.bgDim {
  position: absolute;
  top: 0;
  left: 0;
  width: 2560px;
  height: 1440px;
  background: #00000066;
  z-index: 3;
  pointer-events: none;
}

.ddim {
  position: absolute;
  top: 0;
  left: 0;
  width: 2560px;
  height: 1440px;
  background: #00000066;
  z-index: 5;
  pointer-events: none;
}

.popupObjImage {
  width: 720px;
  height: 720px;
  position: absolute;
  top: 34%;
  left: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  z-index: 2;
}

.popupLine {
  display: block;
  font-size: inherit;
}

.popupLineSmall {
  font-size: 52px;
}

.popupText {
  position: absolute;
  top: 79%;
  left: 50%;
  transform: translate(-50%, -50%);
  white-space: pre-wrap;
  pointer-events: none;
  font-family: 'RoundedFixedsys';
  font-weight: 400;
  font-size: 60px;
  line-height: 140%;
  letter-spacing: 2%;
  color: black;
  z-index: 2;
}

.popupSingleImage {
  width: 720px;
  height: 720px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  cursor: pointer;
  pointer-events: auto;
  z-index: 2;
}