.viewport {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2560px;
    height: 1440px;

    transform: scale(var(--scale)) translate(-50%, -50%);
    transform-origin: top left;

    overflow: hidden;
}

.background {
    user-select: none;
    pointer-events: none;
    z-index: 0;
}

.character {
    position: absolute;
    width: 400px;
    height: 400px;
    user-select: none;
    z-index: 3;
    pointer-events: none;
}

.charNPC {
    position: absolute;
    width: 400px;
    height: 400px;
    user-select: none;
    z-index: 2;
    pointer-events: none;
}

.textboxWrap {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.textboxImage {
    display: block;
    width: 1440px;
    height: 1440px;
    pointer-events: none;
}

.textboxContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 1150px;
}

.centerText {
    text-align: center;
}

.noLineBreak {
    top: 46%;
}

.yesLineBreak {
    top: 49%;
}

.speaker {
    font-family: 'RoundedFixedsys';
    color: black;
    white-space: pre-wrap;
    word-break: keep-all;
    font-weight: 400;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 2%;
    margin-bottom: 10px;
}

.content {
    font-family: 'RoundedFixedsys';
    color: black;
    white-space: pre-wrap;
    word-break: keep-all;
    font-weight: 400;
    font-size: 60px;
    line-height: 140%;
    letter-spacing: 2%;
}