.viewport {
    position: fixed;
    top: 50%;
    left: 50%;
    width: 2560px;
    height: 1440px;

    transform: scale(var(--scale)) translate(-50%, -50%);
    transform-origin: top left;

    overflow: hidden;
}

.background {
    user-select: none;
    pointer-events: none;
    z-index: 0;
}

.fadeOverlay {
    position: absolute;
    inset: 0;
    background-color: black;
    animation: fadeOverlay 3.6s ease-in-out forwards;
    z-index: 9999;
    pointer-events: none;
}

@keyframes fadeOverlay {
    0% {
        opacity: 0;
    }

    50% {
        opacity: 1;
    }

    100% {
        opacity: 0;
    }
}

.textboxWrap {
    position: absolute;
    top: 28%;
    left: 50%;
    transform: translate(-50%, -50%);
    user-select: none;
}

.textboxImage {
    display: block;
    width: 1440px;
    height: 1440px;
    pointer-events: none;
}

.textboxContent {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    pointer-events: none;
    width: 1150px;
}

.centerText {
    text-align: center;
}

.noLineBreak {
    top: 46%;
}

.yesLineBreak {
    top: 49%;
}

.speaker {
    font-family: 'DungGeunMo';
    color: black;
    white-space: pre-wrap;
    word-break: keep-all;
    font-weight: 400;
    font-size: 50px;
    line-height: 140%;
    letter-spacing: 2%;
    margin-bottom: 10px;
}

.content {
    font-family: 'DungGeunMo';
    color: black;
    white-space: pre-wrap;
    word-break: keep-all;
    font-weight: 400;
    font-size: 60px;
    line-height: 140%;
    letter-spacing: 2%;
}

.popupCenterWrap {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.popupDownWrap {
    position: absolute;
    top: 70%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10;
}

.popupCookieImage {
    width: 2560px;
    height: 1440px;
    user-select: none;
}

.popupEndImage {
    width: 720px;
    height: 720px;
    user-select: none;
}

.popupResultScroll {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    overflow-x: hidden;
    scrollbar-width: none;
}

.popupResultWrap {
    position: absolute;
    top: 25%;
    left: 50%;
    transform: translateX(-50%);
    pointer-events: auto;
    width: 1440px;
    height: 2196px;
}

.popupResultImage {
    width: 1440px;
    height: 2196px;
    user-select: none;
}

.cardText {
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "DungGeunMo";
    font-weight: 400;
    font-size: 32px;
    line-height: 140%;
    letter-spacing: -4%;
    text-align: center;
    color: #121212;
}

.typeNameText {
    position: absolute;
    top: 38%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-family: "DungGeunMo";
    font-weight: 400;
    font-size: 36px;
    line-height: 140%;
    letter-spacing: -4%;
    text-align: center;
    color: #6F6F6F;
}

.feedbackBox {
    position: absolute;
    top: 56%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 569px;
    height: 692px;
    border-radius: 12px;
    padding: 0px 10px;
    background-color: #F0EFF2;
}

.feedbackText {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    padding: 0 30px;
    box-sizing: border-box;

    font-family: "DungGeunMo";
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -4%;
    white-space: pre-wrap;
    color: #4F4F4F;
}

.saveBtn {
    position: absolute;
    top: 73.4%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 130px;
    height: 28px;

    color: #5C5C5C;
    font-family: 'RoundedFixedsys';
    font-weight: 400;
    font-size: 20px;
    line-height: 140%;
    letter-spacing: -1%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.saveBtnLine {
    position: absolute;
    top: 73.9%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 130px;
    height: 0;
    color: #5C5C5C;
    border: 1px solid #000000;
    user-select: none;
}

.recommendBtn {
    position: absolute;
    top: 76.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 569px;
    height: 78px;
    border-radius: 12px;
    border: 2px solid #000000;
    background-color: #9F6D53;

    color: #FFFFFF;
    font-family: 'RoundedFixedsys';
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -1%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.btn1 {
    position: absolute;
    top: 83%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 569px;
    height: 78px;
    border-radius: 12px;
    background-color: #F0EFF2;

    color: black;
    font-family: "DungGeunMo";
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -1%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.btn2 {
    position: absolute;
    top: 87.3%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 569px;
    height: 78px;
    border-radius: 12px;
    background-color: #2F2F2F;

    color: white;
    font-family: "DungGeunMo";
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -1%;

    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    user-select: none;
}

.btn3 {
    position: absolute;
    top: 93.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 569px;
    height: 78px;
    border-radius: 12px;
    border: 2px solid black;

    color: black;
    font-family: "DungGeunMo";
    font-weight: 400;
    font-size: 28px;
    line-height: 140%;
    letter-spacing: -1%;

    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    cursor: pointer;
    user-select: none;
}

.cookieIcon {
    width: 28px;
    height: 28px;
}